
@font-face {
  font-family: vani;
  src: url(./assets/vani-2.ttf);
}
@font-face {
  font-family: vindra;
  src: url(./assets/vrinda.ttf);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
padding-inline: 1rem;
background-color: rgb(99, 88, 70) ;
}
h1{
text-align: center;
font-weight: bold;
font-size: 4rem;
letter-spacing: .5rem;
font-family: vani;
color: rgb(41, 37, 30);
}
.list-container{
margin-top: 1rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: .2rem;
list-style-type: none;
}
.list-item{
  width: 150px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img-carte{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  position: relative;
  z-index: 80;
  height: 200px;
background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d9eca8c2-2a9c-4b40-827b-8eae3b95baa8/d7fem6v-919d84a1-89ab-4528-a405-c4598eb4ab1c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q5ZWNhOGMyLTJhOWMtNGI0MC04MjdiLThlYWUzYjk1YmFhOFwvZDdmZW02di05MTlkODRhMS04OWFiLTQ1MjgtYTQwNS1jNDU5OGViNGFiMWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.atEDhERearbJTKMGLjcCiBVJKVv5lJQs9geteXBc2DU");
background-size: contain;
background-repeat: no-repeat;
background-position: center center center center;
}

.img-container{
  position: absolute;
  top: 47px;
  left: 19px;
  width: 115px;
  height: 78px;
  overflow: hidden;
  filter: grayscale(100);
  transition: .25s ease-in ;

}
.img-container img{
width: 100%;
}

.item-img-carte:hover > .img-container{
  filter: grayscale(0);
}
.container-text{

position: absolute;
bottom: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0;

}
.container-text h3{
font-family: "vani";
font-size: 1.2rem;
color: rgb(65, 58, 46);
margin: 0;

height: 20px;
}
.container-text h4{

font-family: "vindra";
font-size: 1.2rem;
margin: 0;
color: rgb(65, 58, 46);
}
form{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
gap: .2rem;
}
.input {
  border: 2px solid #140f0f;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(41, 38, 34) ;
  font-size: small;
  font-weight: bold;
  text-align: center;
 }
 
 .input:focus {
  outline-color: white;
  background-color: #212121;
  color: #e8e8e8;
  box-shadow: 5px 5px #3a2d2d;
 }

 .submit{
  border: 2px solid #140f0f;
  padding: 15px;
  background-color: rgb(41, 38, 34) ;
  color: #f70505;
  font-size: small;
  font-weight: bold;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  transition: .2s ease-in-out;
}

.submit:hover{
transform: scale(1.1) translateX(10%); 
}
.container-button{
position: absolute;
top: 4px;
right: 8px;
opacity: 0;
display: flex;
justify-content: space-between;
width: 30px;
transition: .5s ease;

}
.icon-button{
width: 20px;
background-color: transparent;
border: 0;
transition: .2s ease-in-out;
}
.icon-button svg{
  display: block;
width: 12px;
background-color:rgb(33, 33, 33,0);
height: 12px;
color: rgb(80, 49, 31);
}

.item-img-carte:hover > .container-button{
opacity: 1;
}
.icon-button:hover{
  transform: scale(1.3);
}